.pie-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.pie {
  display: flex;
  /*ewwww*/
  flex-direction: column;
  /* vertical-align: middle; */
  justify-content: center;
  align-items: center;
  font-size: 20v;
  /*ewwww*/
  margin-top: 30px;
  width: 600px;
  height: 440px;
  border: 1px solid rgb(197, 197, 197);
  padding-top: 10px;
  border-radius: 20px;

  /*ewwww*/
  h6 {
    font-weight: normal;
    font-style: italic;
  }

  gap: 10px;
}

.statistics-container {
  padding: 16px;

  h1 {
    font-family: "Inter", sans-serif;
  }

  h2 {
    font-family: "Inter", sans-serif;
  }
}